/* get rid of bullet points */
ul, li {
    list-style-type: none;
    margin: 0;
}

/* Make sure nav always stays on top */
nav {
    z-index: 800;
}

/* nav visibility and layout */
.site-nav {
    background: rgba(209, 169, 37, 0.8);
    position: absolute;
    display: flex;
    padding: 12px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.site-nav li a {
    color: rgb(22, 70, 124);
    text-decoration: none;
}

.site-nav li :hover {
    color: rgb(117, 137, 161)
}