.gif {
    position: fixed;          /* Make it stay in place */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    pointer-events: none; /* Allow clicks to pass through */
    filter: opacity(50%);
}

.gifSmall {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 250px;
    height: auto;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    pointer-events: none;
    filter: opacity(70%);
}