{% extends "layout.njk" %}

{% block content %}

    <link rel="stylesheet" href="{{'/styles/image.css' | prefixedUrl }}">


    {% if heroImage %}
        <img class="hero-image" src="{{ '/assets/sky.jpg' | prefixedUrl }}" alt="Sky with clouds hero image">
    {% endif %}

    {% if featured %}
        <p class="featured"> Featured Post </p>
    {% endif %}


    <article>
        <h2>{{ title }}</h2>
        {{ content | safe }}


        {% if tags %}
        <p class="post-tags">Tags:
            {% for t in tags %}
                <span class="post-tag">{{ t }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        
    </article>
{% endblock %}