{% extends "layout.njk" %}

{% block content %}

    {% if heroImage %}
        <img class="hero-image" src="/assets/sky.jpg" alt="Sky with clouds hero image">
    {% endif %}

    {% if featured %}
        <p class="featured"> Featured Post </p>
    {% endif %}

    {% if subtitle %}
        <h3>{{ subtitle }}</h3>
    {% endif %}


    <article>
        <h2>{{ title }}</h2>
        {{ content | safe }}
    </article>
{% endblock %}