html {
    background: url("/assets/tileBckgrnd.jpg");
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px
}

.hero-image{
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

li a {
    text-decoration: none;
    color: rgb(22, 70, 124);
}

li a:hover {
    color: rgb(117, 137, 161);
}

/* Filter UI */
.filters {
    margin: 18px 0;
}
.post-tag {
    display: inline-block;
    background: #da754e; color: #d1d1d1;
    border-radius: 8px;
    padding: 4px 8px;
    margin-right: 8px;
    font-size: 0.9rem;
 }
